<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ajv</title>
    <link rel='stylesheet' href='./styles/main.css' />
    <link rel="icon" href="data:;base64,=">
  </head>
  <body>

    <form id="formNew">
      <input type="text" name="login" placeholder="login">
      <input type="text" name="quantity" placeholder="quantity">
      <input type="email" name="email" placeholder="email">
      <button type="submit">OK</button>
  
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
