// .main{
//     height: 1000px;
//     width: 1000px;
//     border: 1px solid black;
// }
.but{
    height: 50px;
    width: 50px;
}
.but1{
    height: 300px;
    width: 50px;
}
.txt1{
    height: 50px;
    width: 200px;
}
.txt2{
    height: 50px;
    width: 200px;
    
}
.div{
    height: 50px;
    width: 260px;
    border: 2px solid black;
    margin-top: 10px;
    
}


// .main{
//     display: grid;
//     border: 2px solid black;
//     grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
//     grid-template-rows: 50fr 50px 50px 40px;
//     gap: 5px;
// }