@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    /* background-color: #266B97; */
    margin: 0;
}

.main {
    background-color: #B9D6EF;
    height: 463px;
    position: relative;
}

div {
    /* border: 1px solid black; */
}

.clouds {
    position: relative;
    width: 200px;
    margin: 0 auto;
    height: 114px;
}


.clouds > div {
    position: absolute;
}

.cloud1 {
    left: -259px;
}

.cloud2 {
    right: -297px;
}

.comingsoon {
    position: relative;
    width: 600px;
    font-family: 'Raleway', sans-serif;
    /* border: 3px solid red; */
    height: 70px;
    margin: 0 auto;
}
.comingsoon > div {
    position: absolute;
    font-size: 4.4rem;
    line-height: 44px;
    left: 54px;
    letter-spacing: 1px;
    color: #FEFEFE;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.17);
    
}
.subscribe {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 33px;
    font-family: 'Work Sans', sans-serif;
    
}
.subscribe > div {
    position: absolute;
    font-size: 14px;
    /* line-height: 1.143; */
    left: 56px;
    letter-spacing: 1px;
    color: rgb(38, 107, 151);

}

.form {
    position: relative;
    /* border: 1px solid black; */
    height: 38px;
    width: 337px;
    margin: 0 auto;
}
.megainput::placeholder {
    color: rgb(128, 128, 128);
    /* padding-left: 10px; */
}
    
.megabutton {
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: #FAB937;
    text-shadow: 0px 1px 1px rgba(29, 26, 22, 0.2);
    height: 38px;
    left: 248px;
    outline: none;
    border-radius: 4px;
    /* background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%); */
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004),inset 0px 2px 5px 0px rgba(29, 26, 22, 0.2);

}

.megainput {
    position: absolute;
    font-size: 0.7rem;
    height: 32px;
    width: 223px;
    font-family: "Arial";
    padding-left: 8px;
    letter-spacing: 0.2px;
    border-radius: 4px;
    background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004),inset 0px 2px 5px 0px rgba(29, 26, 22, 0.2);

}
.global_ice {
    position: relative;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    /* border: 1px solid black; */

}
.ice {
    position: absolute;
    left: -139px;
    top: -177px;

}
.global_ship {
    position: relative;
    margin: 0 auto;
    height: 50px;
    width: 50px;
}
.ship {
    position: absolute;
    left: -164px;
    top: 47px;
}
.lines {
    position: relative;
    height: 150px;
    /* width: 50px; */
    margin: 0 auto;
    top: 188px;
    

}
.line1 {
    position: absolute;
    height: 4px;
    width: 100%;
    top: 20px;
    /* left: -465px; */
    background-color: #DDECFA;
}
.line2 {
    position: absolute;
    height: 10px;
    width: 100%;
    top: 24px;
    background-color: #327DAD;

}
.line3 {
    position: absolute;
    height: 333px;
    width: 100%;
    top: 34px;
    background-color: #266B97;
}

.counter {
    position: relative;
    font-family: 'Work Sans', sans-serif;
    color: ;
    width: 293px;
    margin: 0 auto;
    height: 124px;
    /* border: 1px solid black; */
}
.days {
    position: relative;
    width: 0;
    height: 50px;
    text-align: center;
    left: 4px;
    bottom: -99px;
    color: #F3F3F3;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    
}

.number1 {
    position: absolute;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 1.5rem;
    top: -74px;
    left: -3px;
    font-family: 'Nunito', sans-serif;
    color: #266B97;
    background-color: #B9D6EF;
}
.hours {
    position: relative;
    
    width: 0;
    height: 50px;
    text-align: center;
    left: 105px;
    bottom: -49px;
    color: #F3F3F3;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}
.number2 {
    position: absolute;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 1.5rem;
    top: -74px;
    left: 9px;
    font-family: 'Nunito', sans-serif;
    color: #266B97;
    background-color: #B9D6EF;
}
.mins {
    position: relative;
    width: 0;
    height: 50px;
    text-align: center;
    left: 228px;
    bottom: 1px;
    color: #F3F3F3;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}
.number3 {
    position: absolute;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 1.5rem;
    top: -74px;
    left: -5px;
    font-family: 'Nunito', sans-serif;
    color: #266B97;
    background-color: #B9D6EF;
}



  