<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>users</title>
    <link rel='stylesheet' href='./styles/main.css' />
    <link rel="icon" href="data:;base64,=">
  </head>
  <body>

    <form id="form1">
      <select>
        <% usersNameSurname.forEach(el=> { %>
        <option>
          <%=el%>
        </option>
        <% }) %>
      </select>

    <div class="id"></div>

    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
