@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main {
    position: relative;
}

.svg {
    height: 512px;
    width: 512px;

    .rect_1 {
        fill: #8b572a;
    }

    .rect_2 {
        fill: white;
    }

}

.wh_1 {
    display: none;
    position: absolute;
    width: 120px;
    height: 27px;
    margin-top: -109px;
    margin-left: -15px;
    border-right: 8px dotted black;
    transform-origin: right bottom;
    animation: wheel 0.3s steps(60, end) infinite;
}
.wh_2 {
    display: none;
    position: absolute;
    width: 120px;
    height: 27px;
    margin-top: -111px;
    margin-left: 248px;
    border-right: 8px dotted black;
    transform-origin: right bottom;
    animation: wheel 0.3s steps(60, end) infinite;
}

.main:hover {
    .rect_1 {
        fill: peachpuff;
    }
    .rect_2 {
        fill: lightslategray;
    }
    .wh_1 {
        display: block;
        }
    .wh_2 {
        display: block;
        }
}

