<!DOCTYPE html>
<html>
  <head>
    <title>shortUrl</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <h1>Make shorter URL!</h1>
    <form id="url">
      <input type="text">
      <input type="submit" value="Go">
    </form>
    <hr>
    <div class="result">result:</div>
    <button class="btn" value="Copy"></button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
